.store__search-input {
  margin-left: 1rem;
}

.store__old-quantity {
  color: red;
}

.store__updated-quantity {
  color: green;
}

.store__received-quantity {
  color: blue;
}

.store__hourglass-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
