@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

select {
  outline: none;
}

select:focus {
  outline: none; /* Remove the outline */
  border-color: grey; /* Remove any blue border */
  box-shadow: none; /* Remove any additional shadow that might be applied */
}

.send-box {
  min-width: max-content;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

.invoiceBox__button {
  cursor: pointer;
}
.send-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.send-box table tr td:nth-child(2) {
  text-align: right;
}

.title img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

.invoiceBox__error {
  color: red;
  font-size: 0.8rem;
  text-align: center;
}

.invoiceBox__zero-amount {
  color: red;
}

.invoiceBox__companyData {
  margin-top: 1rem;
}
.truncate {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.invoice__button {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invoice__button > button {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  background-color: rgb(31 41 55 / 0.9);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.invoice__button > button:hover {
  background-color: rgb(31 41 55 / 0.8);
}

.button {
  padding: 0 0.5rem;
  background-color: rgb(31 41 55 / 0.9);
  color: rgb(233, 233, 233);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: rgb(31 41 55 / 0.8);
}

.input-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.1rem 0.25rem;
}

.select-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.1rem 2rem 0.1rem 0.25rem;
}

.input-field:hover {
  border: 1px solid #8a8a8a;
}

/* Sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(31 41 55 / 0.9);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(31 41 55 / 0.9);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.address-enter {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition:
    opacity 300ms,
    max-height 300ms ease-in-out;
}
.address-enter-active {
  opacity: 1;
  max-height: 500px; /* Adjust this value based on the maximum expected height */
  transition:
    opacity 300ms,
    max-height 300ms ease-in-out;
}
.address-exit {
  opacity: 1;
  max-height: 500px;
  transition:
    opacity 300ms,
    max-height 300ms ease-in-out;
}
.address-exit-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition:
    opacity 300ms,
    max-height 300ms ease-in-out;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
}

p,
span,
a,
label,
input,
button {
  font-family: 'Inter Tight', sans-serif;
}

/* Set default font sizes for main tags */
h1 {
  font-size: 2.25rem; /* Equivalent to 36px */
}

h2 {
  font-size: 1.875rem; /* Equivalent to 30px */
}

h3 {
  font-size: 1.5rem; /* Equivalent to 24px */
}

h4 {
  font-size: 1.25rem; /* Equivalent to 20px */
}

h5 {
  font-size: 1.125rem; /* Equivalent to 18px */
}

h6 {
  font-size: 1rem; /* Equivalent to 16px */
}

p {
  font-size: 1rem; /* Equivalent to 16px */
}

small {
  font-size: 0.875rem; /* Equivalent to 14px */
}
