@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.invoice-box {
  max-width: 800px;
  min-width: max-content;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #555;
}
.invoiceBox__row {
  display: flex;
  justify-content: space-between;
}
.invoiceBox__button {
  cursor: pointer;
}
.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}
.title img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}
.title span {
  font-weight: bold;
}
.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}
.invoice-box table tr td:nth-child(2) {
  text-align: right;
}
.invoice-box table tr.top table td {
  padding-bottom: 20px;
}
.invoice-box table tr.information table td {
  padding-bottom: 40px;
}
.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
.invoice-box table tr.details td {
  padding-bottom: 20px;
}
.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}
.invoice-box table tr.item.last td {
  border-bottom: none;
}
.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }
  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}
.invoiceBox__error {
  color: red;
  font-size: 0.8rem;
  text-align: center;
}

.invoiceBox__zero-amount {
  color: red;
}

p,
td {
  cursor: default;
}

.invoiceBox__companyData {
  margin-top: 1rem;
}
.truncate {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.invoice__item {
  cursor: pointer;
}

.invoice__button {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invoice__button > button {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.button {
  padding: 0 0.5rem;
  background-color: rgba(61, 62, 62, 0.9);
  color: rgb(233, 233, 233);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.input-field {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-field::selection {
  outline: none;
  border: 1px solid #007bff;
}

.input-field:hover {
  border: 1px solid #8a8a8a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
